.p-Home.Flex1 {
display: flex;
column-gap: 30px;
padding-left: ;
padding-top: 20px;
padding-bottom: 30px;
justify-content: space-around;
width: 100%;
padding-right: ;
align-items: flex-start;
}
.p-Home.Flex2 {
display: flex;
height: 33px;
padding-left: ;
width: 631.11px;
column-gap: 30px;
align-items: center;
justify-content: flex-start;
}
.p-Home.Flex {
display: flex;
height: 33px;
width: 244px;
}
.p-Home.Flex4 {
display: flex;
height: 23.2px;
justify-content: space-around;
align-items: center;
width: 357.11px;
}
.p-Home.Flex5 {
display: flex;
height: 42.2px;
width: 300.2px;
column-gap: 25px;
justify-content: space-around;
}
.p-Home.Flex6 {
display: flex;
height: 475.54px;
padding-top: ;
padding-left: ;
justify-content: space-around;
align-items: center;
width: 100%;
}
.p-Home.Flex7 {
display: flex;
width: 60%;
height: 372px;
flex-direction: column;
padding-top: 100px;
padding-left: 150px;
padding-bottom: ;
column-gap: ;
row-gap: 20px;
margin-top: ;
}
.p-Home.Flex18 {
display: flex;
width: 300.2px;
height: 42.4px;
align-items: center;
column-gap: 25px;
justify-content: space-around;
}
.p-Home.Flex8 {
display: flex;
width: 40%;
height: 475.54px;
background-color: #FF7629ff;
padding-top: ;
}
.p-Home.Flex10 {
display: flex;
width: 100%;
height: ;
flex-direction: column;
padding-top: 75px;
row-gap: 20px;
justify-content: space-around;
align-items: center;
}
.p-Home.Flex12 {
display: flex;
width: 782px;
justify-content: flex-start;
height: 34px;
column-gap: ;
}
.p-Home.Flex13 {
display: flex;
width: 460px;
height: 34px;
column-gap: 20px;
}
.p-Home.Flex14 {
display: flex;
width: 262px;
height: 34px;
column-gap: 20px;
}
.p-Home.Flex15 {
display: flex;
width: 100%;
height: 700px;
padding-top: 150px;
row-gap: 40px;
flex-direction: column;
align-items: center;
}
.p-Home.Flex16 {
display: flex;
width: 1069.2px;
height: ;
column-gap: 30px;
}
.p-Home.Flex17 {
display: flex;
width: 519.6px;
height: ;
column-gap: 30px;
padding-top: ;
padding-bottom: ;
}
.p-Home.Flex28 {
display: flex;
width: 244.8px;
height: 397.8px;
flex-direction: column;
border-radius: 50px;
border-style: solid;
border-color: #cececeff;
padding-top: 40px;
padding-bottom: ;
row-gap: 40px;
}
.p-Home.Flex29 {
display: flex;
width: 244.8px;
height: ;
border-radius: 50px;
border-style: solid;
border-color: #cececeff;
flex-direction: column;
padding-top: 40px;
row-gap: 40px;
}
.p-Home.Flex27 {
display: flex;
width: 519.6px;
height: ;
column-gap: 30px;
}
.p-Home.Flex30 {
display: flex;
width: 244.8px;
height: ;
border-radius: 50px;
border-style: solid;
flex-direction: column;
border-color: #cececeff;
padding-top: 40px;
row-gap: 40px;
}
.p-Home.Flex31 {
display: flex;
width: 244.8px;
height: ;
border-style: solid;
border-radius: 50px;
flex-direction: column;
border-color: #cececeff;
padding-top: 40px;
row-gap: 40px;
}
.p-Home.Flex33 {
display: flex;
height: 42.2px;
width: 0318.93px;
column-gap: 25px;
justify-content: space-around;
}
.p-Home.Flex39 {
display: flex;
background-color: #FFF9F3ff;
height: 800.86px;
padding-top: 150px;
padding-left: 150px;
flex-direction: column;
padding-bottom: ;
}
.p-Home.Flex40 {
display: flex;
width: ;
height: 726.86px;
flex-direction: row;
position: relative;
column-gap: ;
padding-right: ;
justify-content: flex-start;
}
.p-Home.Flex52 {
display: flex;
width: 488.2px;
height: 726.86px;
flex-direction: column;
position: relative;
}
.p-Home.Flex70 {
display: flex;
width: 488.2px;
height: 526.86px;
}
.p-Home.Flex95 {
display: flex;
width: 488.2px;
height: 726.86px;
flex-direction: row;
position: relative;
}
.p-Home.Flex99 {
display: flex;
width: 350px;
padding-bottom: 50px;
position: relative;
bottom: 200px;
background-color: #ffffffff;
border-radius: 25px;
padding-right: 20px;
padding-top: 50px;
padding-left: 50px;
row-gap: 20px;
flex-direction: column;
left: 170px;
}
.p-Home.Flex96 {
display: flex;
width: 300px;
height: 20.8px;
column-gap: 20px;
}
.p-Home.Flex97 {
display: flex;
width: 300px;
height: 24px;
column-gap: 20px;
}
.p-Home.Flex98 {
display: flex;
width: 350px;
height: 62.4px;
column-gap: 20px;
}
.p-Home.Flex54 {
display: flex;
width: 50%;
height: 467px;
padding-top: 100px;
flex-direction: column;
row-gap: 25px;
align-items: stretch;
padding-left: ;
column-gap: ;
margin-left: 220px;
}
.p-Home.Flex53 {
display: flex;
width: ;
height: 42.4px;
column-gap: 30px;
justify-content: space-around;
}
.p-Home.Flex102 {
display: flex;
height: ;
padding-top: 150px;
align-items: center;
flex-direction: column;
column-gap: ;
row-gap: 20px;
font-family: DM Sans;
padding-bottom: 100px;
}
.p-Home.Flex103 {
display: flex;
width: 1065px;
height: ;
column-gap: 25px;
padding-top: ;
}
.p-Home.Flex104 {
display: flex;
width: 520px;
height: ;
column-gap: 25px;
}
.p-Home.Flex106 {
display: flex;
width: 250px;
flex-direction: column;
align-items: center;
column-gap: ;
row-gap: 25px;
}
.p-Home.Flex122 {
display: flex;
width: 108.89px;
height: 40px;
position: relative;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
left: 50px;
top: 90px;
background-color: #ffffffff;
border-radius: 15px;
}
.p-Home.Flex107 {
display: flex;
width: 250px;
flex-direction: column;
align-items: center;
row-gap: 25px;
}
.p-Home.Flex123 {
display: flex;
width: 108.89px;
height: 40px;
position: relative;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
left: 50px;
top: 90px;
background-color: #ffffffff;
border-radius: 15px;
}
.p-Home.Flex105 {
display: flex;
width: 520px;
height: ;
column-gap: 25px;
}
.p-Home.Flex108 {
display: flex;
width: 250px;
flex-direction: column;
row-gap: 25px;
align-items: center;
}
.p-Home.Flex124 {
display: flex;
width: 108.89px;
height: 40px;
position: relative;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
left: 50px;
top: 90px;
background-color: #ffffffff;
border-radius: 15px;
}
.p-Home.Flex109 {
display: flex;
width: 250px;
flex-direction: column;
align-items: center;
row-gap: 25px;
}
.p-Home.Flex125 {
display: flex;
width: 108.89px;
height: 40px;
position: relative;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
left: 50px;
top: 90px;
background-color: #ffffffff;
border-radius: 15px;
}
.p-Home.Flex117 {
display: flex;
width: 1065px;
height: ;
column-gap: 25px;
}
.p-Home.Flex115 {
display: flex;
width: 520px;
height: ;
column-gap: 25px;
}
.p-Home.Flex111 {
display: flex;
width: 250px;
flex-direction: column;
align-items: center;
row-gap: 25px;
}
.p-Home.Flex129 {
display: flex;
width: 108.89px;
height: 40px;
position: relative;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
left: 50px;
top: 90px;
background-color: #ffffffff;
border-radius: 15px;
}
.p-Home.Flex112 {
display: flex;
width: 250px;
flex-direction: column;
row-gap: 25px;
align-items: center;
}
.p-Home.Flex128 {
display: flex;
width: 108.89px;
height: 40px;
position: relative;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
left: 50px;
top: 90px;
background-color: #ffffffff;
border-radius: 15px;
}
.p-Home.Flex116 {
display: flex;
width: 520px;
height: ;
column-gap: 25px;
}
.p-Home.Flex113 {
display: flex;
width: 250px;
flex-direction: column;
align-items: center;
row-gap: 25px;
}
.p-Home.Flex127 {
display: flex;
width: 108.89px;
height: 40px;
position: relative;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
left: 50px;
top: 90px;
background-color: #ffffffff;
border-radius: 15px;
}
.p-Home.Flex114 {
display: flex;
width: 250px;
flex-direction: column;
align-items: center;
column-gap: ;
row-gap: 25px;
}
.p-Home.Flex126 {
display: flex;
width: 108.89px;
height: 40px;
position: relative;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
left: 50px;
top: 90px;
background-color: #ffffffff;
border-radius: 15px;
}
.p-Home.Flex131 {
display: flex;
height: 42.2px;
width: 0318.93px;
column-gap: 25px;
justify-content: space-around;
}
.p-Home.Flex132 {
display: flex;
height: ;
}
.p-Home.Flex133 {
display: flex;
width: 40%;
background-color: #FF7629ff;
margin-top: ;
padding-top: 90px;
padding-bottom: 100px;
padding-left: 150px;
flex-direction: column;
row-gap: 33px;
}
.p-Home.Flex138 {
display: flex;
width: 537.14px;
height: 636.4px;
flex-direction: column;
column-gap: ;
row-gap: 33px;
padding-top: 90px;
padding-bottom: 100px;
padding-left: ;
}
.p-Home.Flex139 {
display: flex;
height: 42.2px;
width: 300.2px;
column-gap: 25px;
justify-content: space-around;
}
.p-Home.Flex134 {
display: flex;
width: 60%;
flex-direction: column;
}
.p-Home.Flex140 {
display: flex;
height: ;
row-gap: 20px;
padding-top: 150px;
padding-bottom: 150px;
flex-direction: column;
align-items: center;
width: 100%;
}
.p-Home.Flex141 {
display: flex;
}
.p-Home.Flex143 {
display: flex;
height: 298.8px;
width: 100%;
align-items: center;
column-gap: 50px;
justify-content: space-around;
padding-top: 50px;
padding-bottom: 50px;
}
.p-Home.Flex144 {
display: flex;
justify-content: space-around;
border-radius: 50px;
width: ;
height: ;
background-color: #FF7629ff;
}
.p-Home.Flex145 {
display: flex;
height: 298.8px;
width: 563.2px;
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 40px;
border-radius: 50px;
border-color: #d5d5d5ff;
border-style: solid;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex147 {
display: flex;
width: 458.4px;
height: 30px;
column-gap: 8px;
}
.p-Home.Flex148 {
display: flex;
height: 30px;
}
.p-Home.Flex149 {
display: flex;
width: 558.4px;
height: 60px;
align-items: center;
border-radius: ;
column-gap: 25px;
}
.p-Home.Flex150 {
display: flex;
height: 60px;
}
.p-Home.Flex151 {
display: flex;
height: 60px;
flex-direction: column;
}
.p-Home.Flex146 {
display: flex;
width: 50px;
height: 50px;
border-radius: 50px;
background-color: #FF7629ff;
}
.p-Home.Flex154 {
display: flex;
height: 42.2px;
width: 0318.93px;
column-gap: 25px;
justify-content: space-around;
}
.p-Home.Flex155 {
display: flex;
height: ;
padding-top: 150px;
padding-left: 100px;
padding-right: 100px;
width: ;
flex-direction: column;
align-items: center;
justify-content: flex-start;
background-color: #FFF9F3ff;
}
.p-Home.Flex156 {
display: flex;
width: 100%;
height: 88.4px;
justify-content: space-between;
align-items: center;
padding-bottom: ;
}
.p-Home.Flex157 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
border-radius: 35px;
}
.p-Home.Flex158 {
display: flex;
width: 100%;
height: ;
row-gap: ;
column-gap: 30px;
padding-bottom: 100px;
}
.p-Home.Flex159 {
display: flex;
width: 100%;
height: 622.23px;
row-gap: 10px;
flex-direction: column;
}
.p-Home.Flex160 {
display: flex;
width: 100%;
height: 622.23px;
flex-direction: column;
column-gap: 30px;
justify-content: flex-start;
align-items: stretch;
row-gap: 30px;
}
.p-Home.Flex161 {
display: flex;
height: ;
width: ;
column-gap: 30px;
justify-content: center;
}
.p-Home.Flex162 {
display: flex;
width: 296.11px;
height: 296.11px;
flex-direction: column;
row-gap: 10px;
padding-bottom: 20px;
border-radius: 35px;
background-color: #fffefeff;
}
.p-Home.Flex164 {
display: flex;
width: 296.11px;
height: 296.11px;
flex-direction: column;
row-gap: 10px;
padding-bottom: 20px;
border-radius: 35px;
background-color: #fffefeff;
}
.p-Home.Flex165 {
display: flex;
column-gap: 30px;
justify-content: center;
}
.p-Home.Flex166 {
display: flex;
width: 296.11px;
height: 296.11px;
flex-direction: column;
row-gap: 10px;
padding-bottom: 20px;
border-radius: 35px;
background-color: #fffefeff;
}
.p-Home.Flex167 {
display: flex;
width: 296.11px;
height: 296.11px;
flex-direction: column;
row-gap: 10px;
padding-bottom: 20px;
border-radius: 35px;
background-color: #fffefeff;
}
.p-Home.Flex168 {
display: flex;
height: 949.6px;
}
.p-Home.Flex169 {
display: flex;
width: 50%;
padding-top: 100px;
padding-bottom: 100px;
padding-left: 150px;
}
.p-Home.Flex171 {
display: flex;
width: 589.6%;
flex-direction: column;
justify-content: center;
align-items: flex-start;
row-gap: 20px;
}
.p-Home.Flex172 {
display: flex;
width: 50%;
height: 62.4px;
column-gap: 20px;
}
.p-Home.Flex173 {
display: flex;
width: 300px;
height: 24px;
column-gap: 20px;
}
.p-Home.Flex174 {
display: flex;
width: 300px;
height: 20.8px;
column-gap: 20px;
}
.p-Home.Flex170 {
display: flex;
width: 50%;
padding-top: 100px;
padding-bottom: 100px;
background-color: #FF7629ff;
}
.p-Home.Flex175 {
display: flex;
position: relative;
width: 536.8px;
padding-top: 80px;
padding-left: 50px;
padding-right: 50px;
right: 140px;
border-color: #d9d4d4ff;
border-style: solid;
border-radius: 40px;
flex-direction: column;
align-items: stretch;
row-gap: 30px;
background-color: #ffffffff;
}
.p-Home.Flex176 {
display: flex;
width: 432px;
height: ;
justify-content: space-between;
column-gap: 20px;
}
.p-Home.Flex177 {
display: flex;
width: 206px;
height: ;
row-gap: 30px;
flex-direction: column;
}
.p-Home.Flex179 {
display: flex;
width: 206px;
height: ;
row-gap: 30px;
flex-direction: column;
}
.p-Home.Flex182 {
display: flex;
width: 432px;
height: ;
justify-content: space-between;
column-gap: 20px;
}
.p-Home.Flex180 {
display: flex;
width: 206px;
height: ;
row-gap: 30px;
flex-direction: column;
}
.p-Home.Flex181 {
display: flex;
width: 206px;
height: ;
row-gap: 30px;
flex-direction: column;
}
.p-Home.Flex185 {
display: flex;
width: 432px;
height: ;
justify-content: space-between;
column-gap: 20px;
}
.p-Home.Flex183 {
display: flex;
width: 206px;
height: ;
row-gap: 30px;
flex-direction: column;
}
.p-Home.Flex184 {
display: flex;
width: 206px;
height: ;
row-gap: 30px;
flex-direction: column;
}
.p-Home.Flex188 {
display: flex;
width: 432px;
height: 223.2px;
justify-content: space-between;
column-gap: 20px;
}
.p-Home.Flex187 {
display: flex;
width: 432px;
height: ;
row-gap: 30px;
flex-direction: column;
}
.p-Home.Flex199 {
display: flex;
height: ;
padding-top: 150px;
padding-bottom: 150px;
padding-left: 100px;
padding-right: 100px;
flex-direction: column;
background-color: #FFF9F3ff;
align-items: stretch;
width: ;
}
.p-Home.Flex200 {
display: flex;
width: ;
height: ;
padding-bottom: 30px;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex202 {
display: flex;
height: ;
width: ;
}
.p-Home.Flex203 {
display: flex;
height: ;
column-gap: 30px;
align-items: stretch;
padding-left: ;
width: ;
margin-left: ;
justify-content: center;
}
.p-Home.Flex206 {
display: flex;
width: 310px;
height: 310px;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex207 {
display: flex;
width: 310px;
height: 145px;
column-gap: 20px;
}
.p-Home.Flex208 {
display: flex;
width: 310px;
height: 145px;
column-gap: 20px;
}
.p-Home.Flex209 {
display: flex;
height: ;
padding-top: 100px;
padding-bottom: 50px;
padding-left: 150px;
padding-right: 150px;
column-gap: 40px;
justify-content: space-around;
align-items: center;
}
.p-Home.Flex210 {
display: flex;
width: 244px;
height: 356.4px;
flex-direction: column;
row-gap: 13px;
}
.p-Home.Flex212 {
display: flex;
width: 190px;
height: 30px;
column-gap: 10px;
}
.p-Home.Flex213 {
display: flex;
width: 206.24px;
height: 356.4px;
padding-left: 5px;
padding-right: 5px;
}
.p-Home.Flex215 {
display: flex;
width: 105.25px;
height: 356.4px;
flex-direction: column;
row-gap: 10px;
align-items: stretch;
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.Flex216 {
display: flex;
width: 105.25px;
height: 356.4px;
flex-direction: column;
row-gap: 10px;
align-items: stretch;
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.Flex217 {
display: flex;
width: 310px;
height: 356.4px;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex220 {
display: flex;
width: 310px;
height: 310px;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Flex218 {
display: flex;
width: 310px;
height: 145px;
column-gap: 20px;
}
.p-Home.Flex219 {
display: flex;
width: 310px;
height: 145px;
column-gap: 20px;
}
.p-Home.Image2 {
cursor: pointer;
padding-right: 20px;
padding-left: ;
}
.p-Home.TextBox6 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #696969ff;
cursor: pointer;
}
.p-Home.TextBox7 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #696969ff;
cursor: pointer;
}
.p-Home.TextBox8 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #696969ff;
cursor: pointer;
}
.p-Home.TextBox9 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #696969ff;
cursor: pointer;
}
.p-Home.TextBox10 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #696969ff;
cursor: pointer;
}
.p-Home.Button3 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button4 {
color: #fff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox12 {
width: 419.55px;
height: 64.8px;
font-family: DM Sans;
font-weight: 700;
font-size: 50px;
}
.p-Home.TextBox13 {
height: 64.8px;
width: 419.55px;
font-family: DM Sans;
font-weight: 700;
font-size: 50px;
color: #FF7629ff;
}
.p-Home.TextBox14 {
width: 347.8px;
height: 116px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #757575ff;
text-align: justify;
}
.p-Home.Button5 {
color: #fff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button6 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image3 {
padding-top: 40px;
padding-left: 40px;
padding-bottom: 40px;
padding-right: 40px;
border-radius: 50px;
position: relative;
right: 200px;
}
.p-Home.TextBox11 {
align-self: center;
font-size: 21px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.Image4 {
width: 200px;
}
.p-Home.Image5 {
width: 200px;
}
.p-Home.Image6 {
width: 80px;
}
.p-Home.Image7 {
width: 122px;
}
.p-Home.TextBox {
font-family: DM Sans;
font-size: 25px;
font-weight: 700;
}
.p-Home.Image8 {
width: 114px;
height: 114px;
align-self: center;
padding-top: ;
padding-bottom: ;
margin-top: ;
}
.p-Home.TextBox18 {
align-self: center;
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox19 {
padding-left: 30px;
margin-right: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #676767ff;
}
.p-Home.TextBox28 {
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629ff;
}
.p-Home.Image9 {
align-self: center;
width: 114px;
height: 114px;
padding-top: ;
}
.p-Home.TextBox20 {
align-self: center;
font-size: 20px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox23 {
padding-left: 30px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #676767ff;
}
.p-Home.TextBox29 {
align-self: center;
color: #FF7629ff;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
}
.p-Home.Image10 {
width: 114px;
height: 114px;
align-self: center;
padding-top: ;
}
.p-Home.TextBox24 {
align-self: center;
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox25 {
padding-left: 30px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #676767ff;
}
.p-Home.TextBox30 {
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629ff;
}
.p-Home.Image11 {
width: 114px;
height: 114px;
align-self: center;
}
.p-Home.TextBox26 {
align-self: center;
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox27 {
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
padding-left: 30px;
padding-right: 10px;
color: #676767ff;
}
.p-Home.TextBox31 {
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
color: #FF7629ff;
}
.p-Home.Button9 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button10 {
color: #ffffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image38 {
width: 460px;
height: 526.86px;
border-radius: 30px;
}
.p-Home.TextBox75 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-Home.TextBox72 {
font-family: DM Sans;
font-weight: 700;
color: #8d8d8dff;
}
.p-Home.Image39 {
width: 19px;
}
.p-Home.TextBox73 {
font-family: DM Sans;
font-weight: 700;
color: #8d8d8dff;
}
.p-Home.Image40 {
width: 19px;
}
.p-Home.TextBox74 {
width: 175px;
font-family: DM Sans;
font-weight: 700;
color: #8d8d8dff;
}
.p-Home.Image41 {
width: 19px;
align-self: center;
}
.p-Home.TextBox35 {
font-family: DM Sans;
color: #8d8d8dff;
font-weight: 500;
width: ;
}
.p-Home.TextBox36 {
color: #8d8d8dff;
font-family: DM Sans;
font-weight: 500;
width: ;
}
.p-Home.TextBox37 {
width: 139.5px;
height: 41.6px;
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.Button13 {
color: #fff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button14 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox76 {
font-size: 32px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox77 {
width: 563.2px;
color: #727272ff;
font-family: DM Sans;
font-weight: 500;
align-self: center;
height: 41.6px;
}
.p-Home.Image42 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox78 {
font-size: 24px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox82 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
}
.p-Home.TextBox94 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image44 {
width: 250px;
height: 250px;
border-radius: 25px;
}
.p-Home.TextBox79 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox83 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
}
.p-Home.TextBox95 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image45 {
width: 250px;
height: 250px;
border-radius: 25px;
}
.p-Home.TextBox80 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.TextBox84 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
}
.p-Home.TextBox96 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image46 {
width: 250px;
height: 250px;
border-radius: 25px;
}
.p-Home.TextBox81 {
font-family: DM Sans;
font-size: 24px;
font-weight: 700;
}
.p-Home.TextBox85 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
}
.p-Home.TextBox97 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox86 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
}
.p-Home.TextBox87 {
font-family: DM Sans;
font-size: 24px;
font-weight: 700;
}
.p-Home.Image47 {
width: 250px;
height: 250px;
border-radius: 25px;
}
.p-Home.TextBox101 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox88 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
}
.p-Home.TextBox89 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Image48 {
width: 250px;
height: 250px;
border-radius: 25px;
}
.p-Home.TextBox100 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox90 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
}
.p-Home.TextBox91 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
}
.p-Home.Image49 {
width: 250px;
height: 250px;
border-radius: 25px;
}
.p-Home.TextBox99 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox92 {
text-align: center;
font-family: DM Sans;
font-weight: 500;
color: #686868ff;
}
.p-Home.TextBox93 {
font-size: 24px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.Image50 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox98 {
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Button24 {
color: #ffffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button25 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox104 {
width: 80%;
font-family: DM Sans;
font-weight: 700;
font-size: 38px;
color: #ffffffff;
}
.p-Home.TextBox105 {
width: 80%;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #ffffffff;
}
.p-Home.Button30 {
color: #fff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffffff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button31 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Image52 {
width: 100%;
height: 100%;
}
.p-Home.TextBox107 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox108 {
width: 563.2px;
height: 41.6px;
}
.p-Home.Div1 {
width: 100%;
height: 40px;
border-style: none;
}
.p-Home.Flex153 {
display: flex;
width: 100%;
height: 40px;
border-style: none;
}
.p-Home.TextBox106 {
;
}
.p-Home.Image53 {
width: 50px;
height: 50px;
}
.p-Home.TextBox109 {
font-family: DM Sans;
font-weight: 500;
font-size: 24px;
width: 458.4px;
}
.p-Home.TextBox110 {
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
color: #716f6fff;
}
.p-Home.Image58 {
width: 30px;
height: 30px;
}
.p-Home.Image59 {
width: 30px;
height: 30px;
}
.p-Home.Image60 {
width: 30px;
height: 30px;
}
.p-Home.Image61 {
width: 30px;
height: 30px;
}
.p-Home.Image55 {
width: 30px;
height: 30px;
}
.p-Home.Image62 {
width: 50px;
height: 50px;
border-radius: 50px;
}
.p-Home.TextBox111 {
height: 30px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox113 {
font-family: DM Sans;
font-weight: 700;
color: #595858ff;
}
.p-Home.Image54 {
;
}
.p-Home.Button32 {
color: #ffffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button33 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox114 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox116 {
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image63 {
width: 100%;
height: 70%;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox117 {
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373ff;
}
.p-Home.TextBox118 {
height: 67.2px;
width: ;
padding-left: 20px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 700;
font-size: 26px;
}
.p-Home.TextBox119 {
padding-left: 20px;
padding-right: 10px;
padding-top: 30px;
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #8f8f8fff;
}
.p-Home.Image64 {
width: 100%;
height: 153.78px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox120 {
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
color: #737373ff;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox121 {
padding-left: 20px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox122 {
padding-left: 20px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox123 {
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
color: #737373ff;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image65 {
width: 100%;
height: 153.78px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox124 {
padding-left: 20px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox125 {
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
color: #737373ff;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image66 {
width: 100%;
height: 153.78px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox126 {
padding-left: 20px;
padding-right: 10px;
font-family: DM Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox127 {
padding-left: 20px;
padding-top: 20px;
padding-right: 10px;
color: #737373ff;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image67 {
width: 100%;
height: 153.78px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox128 {
width: 333px;
height: 48px;
font-family: DM Sans;
font-weight: 700;
font-size: 34px;
}
.p-Home.TextBox129 {
width: 50%;
height: 83.2px;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #727171ff;
}
.p-Home.Image68 {
width: 22.8px;
align-self: center;
height: 30px;
}
.p-Home.TextBox130 {
width: ;
font-family: DM Sans;
font-weight: 700;
color: #8d8d8dff;
font-size: 16px;
}
.p-Home.Image69 {
width: 22.8px;
height: 30px;
}
.p-Home.TextBox131 {
font-family: DM Sans;
font-weight: 700;
color: #8d8d8dff;
font-size: 16px;
}
.p-Home.Image70 {
width: 22.8px;
height: 30px;
}
.p-Home.TextBox132 {
font-family: DM Sans;
font-weight: 700;
color: #8d8d8dff;
font-size: 16px;
}
.p-Home.Button38 {
color: #fff;
background-color: #FF7629ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 172.8px;
height: 40.8px;
}
.p-Home.TextBox133 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox134 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.TextBox135 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox136 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.TextBox137 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Input5 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Input6 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.TextBox138 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Input8 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
font-family: DM Sans;
font-weight: 500;
height: 180px;
align-self: auto;
overflow: visible;
word-wrap: normal;
text-align: center;
}
.p-Home.TextBox140 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.TextBox142 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
width: 350.66px;
height: ;
align-self: center;
}
.p-Home.TextBox144 {
padding-left: 30px;
padding-right: 30px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 35px;
font-size: 18px;
font-family: DM Sans;
font-weight: 500;
background-color: #FF7629ff;
color: #ffffffff;
}
.p-Home.Image80 {
width: 300px;
height: 300px;
border-radius: 25px;
}
.p-Home.Image81 {
width: 300px;
height: 300px;
border-radius: 25px;
}
.p-Home.Image76 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image77 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image78 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image79 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image82 {
width: 244px;
height: 33px;
}
.p-Home.TextBox145 {
font-family: DM Sans;
font-weight: 500;
color: #6a6868ff;
width: 100%;
}
.p-Home.Image83 {
width: 30px;
height: 30px;
}
.p-Home.Image84 {
width: 30px;
height: 30px;
}
.p-Home.Image85 {
width: 30px;
height: 30px;
}
.p-Home.Image86 {
width: 30px;
height: 30px;
}
.p-Home.Image87 {
width: 30px;
height: 30px;
}
.p-Home.TextBox146 {
padding-right: 40px;
padding-top: ;
padding-bottom: 20px;
font-family: DM Sans;
font-size: 20px;
color: #000000ff;
}
.p-Home.TextBox147 {
;
}
.p-Home.TextBox148 {
;
}
.p-Home.TextBox149 {
;
}
.p-Home.TextBox150 {
;
}
.p-Home.TextBox151 {
;
}
.p-Home.TextBox152 {
;
}
.p-Home.TextBox153 {
;
}
.p-Home.TextBox154 {
;
}
.p-Home.TextBox155 {
;
}
.p-Home.TextBox156 {
;
}
.p-Home.TextBox157 {
;
}
.p-Home.TextBox158 {
;
}
.p-Home.TextBox159 {
;
}
.p-Home.TextBox160 {
;
}
.p-Home.TextBox161 {
padding-right: 40px;
padding-top: ;
padding-bottom: 20px;
font-family: DM Sans;
font-size: 20px;
color: #000000ff;
}
.p-Home.TextBox162 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-Home.Image88 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image89 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image90 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image91 {
width: 145px;
height: 145px;
border-radius: 25px;
}
